@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<b>Hello, @User.Identity.Name!</b>

@using (Html.BeginForm("Logout", "Home", FormMethod.Post, new {id = "logoutForm"}))
{
    <input id="submit" type="submit" value="Logout" class="btn btn-default"/>
}


